body {
            font-family: Arial, sans-serif;
            background-image: url('../images/R3.jpg');
			background-size:105%;
			}
			
			.home-icon {
            position: absolute;
            font-size: 50px;
            right: 0;
			top:0px;
        }
		.menu-icon {
             position: absolute;
            font-size: 52px;
            right: 6%;
			color:white;
			top:1px;
        }
        #user {
             position: absolute;
            font-size: 50px;
            right: 1280px;;
			color:white;
			top:10px;
        }
		#info {
             position: absolute;
            font-size: 45px;
            right: 150px;;
			color:white;
			top:16px;
        }.main_container {
            height:100%;
			max-height:800px;
            width: 100%; /* Adjust as needed */
            max-width: 1300px;
            margin: auto;
            margin-top: 100px;
            color: #333;
            padding: 10px;
            background-color:rgba(0, 0, 139, 0.2);
			border-radius:10px;
        }
        
        .container_1 {
            position:relative;
            width: 200px; 
            max-width: 900px;
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(0px, 15px);
        }
        .container_2 {
		    position:relative;
            width: 200px; 
            max-width: 900px;
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(232.5px, -102px);
        }
		.container_3 {
		    position:relative;
            width: 200px; 
            max-width: 900px;
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(465px, -255px);
        }
		.container_4 {
		    position:relative;
            width: 670px; 
			height:295px;
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.7);
			border-radius:0px;
			transform: translate(0px,-240px);
        }.container_5 {
		    position:relative;
            width: 570px; 
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:0px;
			transform: translate(705px,-685px);
        }
		.container_6 {
		    position:relative;
            width: 390px; 
			height:290px;
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(0px,-666px);
        }.container_7 {
		    position:relative;
            width: 390px; 
            color: #333;
            padding: 10px;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(425px,-975px);
        }.container_8 {
		    position:relative;
            width: 420px; 
            color: #333;
            background-color:rgba(255, 255, 255, 0.5);
			border-radius:20px;
			transform: translate(855px,-1280px);
        }
        .header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .content {
            font-size: 16px;
            line-height: 1.5;
            background-color: rgba(255, 255, 255, 0.1);
            font-weight: bold;
			border-radius:10px;
        }

        .footer {
            font-size: 14px;
            color: #777;
            margin-top: 5px;
        }
		
		#view2 {
        display: none; /* Hide by default */
        }

        #view2.active {
        display: block; /* Show when 'active' class is added */
        }

		
	    .navbar {
           background-color: rgba(255, 255, 255, 0.1);
	       border-radius:10px;
           overflow: hidden;
           width: 800px;
           transform: translate(270px, 20px);
           }

        .nav-list {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: flex;
              justify-content: center;
        }

        .nav-item {
             margin: 0 15px;
			 color:white;
        }
	    #myForm{
		text-align:left;
		font-weight: bold;
		margin-left:15px;
		}
		#pie-chart {
    width: 90%; 
    height: 80%; 
    margin-left:80px;
    box-sizing: border-box; /* Ensure padding and border do not affect the final width/height */
}